In [1]:
path_to_csv = "Files/csv/property-sales-missing.csv"

df_sales = spark.read.format("csv").option("header","true").load(path_to_csv)
# df now is a Spark DataFrame containing CSV data from "Files/csv/property-sales-missing.csv".
display(df_sales.head(10))

StatementMeta(, c749f430-5bdb-47a5-958c-6f39915f7aa9, 3, Finished, Available, Finished)

SynapseWidget(Synapse.DataFrame, 32d8d40d-22f6-418e-97c8-086bd67a4e85)

In [3]:
df_sales.printSchema()

StatementMeta(, c749f430-5bdb-47a5-958c-6f39915f7aa9, 5, Finished, Available, Finished)

root
 |-- Address: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- City: string (nullable = true)
 |-- SalePrice_USD: string (nullable = true)
 |-- Agent: string (nullable = true)

In [2]:
from pyspark.sql.functions import col
from pyspark.sql.types import *

path_to_csv = "Files/csv/property-sales-missing.csv"

df_sales = spark.read.csv(path_to_csv, header=True, inferSchema=True)

# Changing column names
df_sales = df_sales.withColumnRenamed("Address","address")\
    .withColumnRenamed("Type","type")\
    .withColumnRenamed("City","city")\
    .withColumnRenamed("SalePrice_USD","sale_price_usd")\
    .withColumnRenamed("Agent","agent")

df_sales = df_sales.withColumn("sale_price_usd", col("sale_price_usd").cast(DoubleType()))

display(df_sales.head(5))
df_sales.printSchema()
type(df_sales)

StatementMeta(, 679771bb-05f6-4007-baa3-f8499b424766, 4, Finished, Available, Finished)

SynapseWidget(Synapse.DataFrame, 5c9df586-60b4-4901-a5ec-8ff03f28b139)

root
 |-- address: string (nullable = true)
 |-- type: string (nullable = true)
 |-- city: string (nullable = true)
 |-- sale_price_usd: double (nullable = true)
 |-- agent: string (nullable = true)

pyspark.sql.dataframe.DataFrame

### Dropping rows with nulls

In [6]:
# Drop the row if ANY values are NULL
df_sales.na.drop(how='any').show()

StatementMeta(, e5f10c5f-bd21-473b-a0c1-430b05e4f0d3, 8, Finished, Available, Finished)

+-------------------+--------------+-----------+--------------+-----------------+
|            address|          type|       city|sale_price_usd|            agent|
+-------------------+--------------+-----------+--------------+-----------------+
|   1 Rowley Street |Detached House|   New York|      745000.0|Penelope Pullman |
|13a lollipop avenue|     Apartment|Los Angeles|      345000.0|      Jack Smith |
+-------------------+--------------+-----------+--------------+-----------------+

In [2]:
# Drop the row only if ALL values are NULL
df_sales.na.drop(how='all').show()

StatementMeta(, e9d0d210-b271-404e-9f8f-301780ecdab9, 4, Finished, Available, Finished)

+-------------------+--------------+-----------+--------------+-----------------+
|            address|          type|       city|sale_price_usd|            agent|
+-------------------+--------------+-----------+--------------+-----------------+
|   1 Rowley Street |Detached House|   New York|      745000.0|Penelope Pullman |
|13a lollipop avenue|     Apartment|Los Angeles|      345000.0|      Jack Smith |
|       34 the drive|         House|    Atlanta|          NULL|     Sheila Sammi|
|               NULL|Detached House|   New York|      524393.0|      Jack Smith |
|               NULL|Detached House|   New York|      210878.0|      Jack Smith |
|               NULL|     Apartment|   New York|      380310.0|      Jack Smith |
|               NULL|         House|Los Angeles|      154709.0|     Sheila Sammi|
|               NULL|Detached House|Los Angeles|      548368.0|     Sheila Sammi|
|               NULL|     Apartment|    Atlanta|          NULL|Penelope Pullman |
|               NULL|         House|    Atlanta|       47108.0|Penelope Pullman |
|               NULL|Detached House|   New York|      903820.0|Penelope Pullman |
|               NULL|Detached House|    Atlanta|      557332.0|Penelope Pullman |
|               NULL|     Apartment|   New York|      393327.0|Penelope Pullman |
|               NULL|         House|   New York|          NULL|     Sheila Sammi|
|               NULL|         House|   New York|      638266.0|     Sheila Sammi|
|               NULL|         House|Los Angeles|      457664.0|      Jack Smith |
|               NULL|         House|Los Angeles|      328871.0|     Sheila Sammi|
+-------------------+--------------+-----------+--------------+-----------------+

### Only drop if NULL in certain columns (subset)

In [8]:
df_sales.na.drop(subset='sale_price_usd').show()

StatementMeta(, e5f10c5f-bd21-473b-a0c1-430b05e4f0d3, 10, Finished, Available, Finished)

+-------------------+--------------+-----------+--------------+-----------------+
|            address|          type|       city|sale_price_usd|            agent|
+-------------------+--------------+-----------+--------------+-----------------+
|   1 Rowley Street |Detached House|   New York|      745000.0|Penelope Pullman |
|13a lollipop avenue|     Apartment|Los Angeles|      345000.0|      Jack Smith |
|               NULL|Detached House|   New York|      524393.0|      Jack Smith |
|               NULL|Detached House|   New York|      210878.0|      Jack Smith |
|               NULL|     Apartment|   New York|      380310.0|      Jack Smith |
|               NULL|         House|Los Angeles|      154709.0|     Sheila Sammi|
|               NULL|Detached House|Los Angeles|      548368.0|     Sheila Sammi|
|               NULL|         House|    Atlanta|       47108.0|Penelope Pullman |
|               NULL|Detached House|   New York|      903820.0|Penelope Pullman |
|               NULL|Detached House|    Atlanta|      557332.0|Penelope Pullman |
|               NULL|     Apartment|   New York|      393327.0|Penelope Pullman |
|               NULL|         House|   New York|      638266.0|     Sheila Sammi|
|               NULL|         House|Los Angeles|      457664.0|      Jack Smith |
|               NULL|         House|Los Angeles|      328871.0|     Sheila Sammi|
+-------------------+--------------+-----------+--------------+-----------------+

In [6]:
df_sales.na.drop(thresh=3).show() #Show rows that have at least #thresh no-null columns

StatementMeta(, d417f6ab-1e85-42ec-9495-a8f4ea4f26f0, 8, Finished, Available, Finished)

+-------------------+--------------+-----------+--------------+-----------------+
|            address|          type|       city|sale_price_usd|            agent|
+-------------------+--------------+-----------+--------------+-----------------+
|   1 Rowley Street |Detached House|   New York|        745000|Penelope Pullman |
|13a lollipop avenue|     Apartment|Los Angeles|        345000|      Jack Smith |
|       34 the drive|         House|    Atlanta|          NULL|     Sheila Sammi|
|               NULL|Detached House|   New York|        524393|      Jack Smith |
|               NULL|Detached House|   New York|        210878|      Jack Smith |
|               NULL|     Apartment|   New York|        380310|      Jack Smith |
|               NULL|         House|Los Angeles|        154709|     Sheila Sammi|
|               NULL|Detached House|Los Angeles|        548368|     Sheila Sammi|
|               NULL|     Apartment|    Atlanta|          NULL|Penelope Pullman |
|               NULL|         House|    Atlanta|         47108|Penelope Pullman |
|               NULL|Detached House|   New York|        903820|Penelope Pullman |
|               NULL|Detached House|    Atlanta|        557332|Penelope Pullman |
|               NULL|     Apartment|   New York|        393327|Penelope Pullman |
|               NULL|         House|   New York|          NULL|     Sheila Sammi|
|               NULL|         House|   New York|        638266|     Sheila Sammi|
|               NULL|         House|Los Angeles|        457664|      Jack Smith |
|               NULL|         House|Los Angeles|        328871|     Sheila Sammi|
+-------------------+--------------+-----------+--------------+-----------------+

In [8]:
df_sales.na.drop(subset="address").show() #Drop rows where 'address' is null

StatementMeta(, d417f6ab-1e85-42ec-9495-a8f4ea4f26f0, 10, Finished, Available, Finished)

+-------------------+--------------+-----------+--------------+-----------------+
|            address|          type|       city|sale_price_usd|            agent|
+-------------------+--------------+-----------+--------------+-----------------+
|   1 Rowley Street |Detached House|   New York|        745000|Penelope Pullman |
|13a lollipop avenue|     Apartment|Los Angeles|        345000|      Jack Smith |
|       34 the drive|         House|    Atlanta|          NULL|     Sheila Sammi|
+-------------------+--------------+-----------+--------------+-----------------+

In [3]:
df_sales = df_sales.na.fill(value='Unknown', subset=["address"])
df_sales.show()

StatementMeta(, 679771bb-05f6-4007-baa3-f8499b424766, 5, Finished, Available, Finished)

+-------------------+--------------+-----------+--------------+-----------------+
|            address|          type|       city|sale_price_usd|            agent|
+-------------------+--------------+-----------+--------------+-----------------+
|   1 Rowley Street |Detached House|   New York|      745000.0|Penelope Pullman |
|13a lollipop avenue|     Apartment|Los Angeles|      345000.0|      Jack Smith |
|       34 the drive|         House|    Atlanta|          NULL|     Sheila Sammi|
|            Unknown|Detached House|   New York|      524393.0|      Jack Smith |
|            Unknown|Detached House|   New York|      210878.0|      Jack Smith |
|            Unknown|     Apartment|   New York|      380310.0|      Jack Smith |
|            Unknown|         House|Los Angeles|      154709.0|     Sheila Sammi|
|            Unknown|Detached House|Los Angeles|      548368.0|     Sheila Sammi|
|            Unknown|     Apartment|    Atlanta|          NULL|Penelope Pullman |
|            Unknown|         House|    Atlanta|       47108.0|Penelope Pullman |
|            Unknown|Detached House|   New York|      903820.0|Penelope Pullman |
|            Unknown|Detached House|    Atlanta|      557332.0|Penelope Pullman |
|            Unknown|     Apartment|   New York|      393327.0|Penelope Pullman |
|            Unknown|         House|   New York|          NULL|     Sheila Sammi|
|            Unknown|         House|   New York|      638266.0|     Sheila Sammi|
|            Unknown|         House|Los Angeles|      457664.0|      Jack Smith |
|            Unknown|         House|Los Angeles|      328871.0|     Sheila Sammi|
+-------------------+--------------+-----------+--------------+-----------------+

In [3]:
df_sales = df_sales.na.fill(value='Unknown', subset=["address"])\
.na.fill(value=0, subset=["sale_price_usd"]) #Null values will be replaces by 0 and unknown, respectively

# df_sales.na.fill("Unknown",["address"]).na.fill(0,["sale_price_usd"]).show() alternatively

df_sales.show()

StatementMeta(, e9d0d210-b271-404e-9f8f-301780ecdab9, 5, Finished, Available, Finished)

+-------------------+--------------+-----------+--------------+-----------------+
|            address|          type|       city|sale_price_usd|            agent|
+-------------------+--------------+-----------+--------------+-----------------+
|   1 Rowley Street |Detached House|   New York|      745000.0|Penelope Pullman |
|13a lollipop avenue|     Apartment|Los Angeles|      345000.0|      Jack Smith |
|       34 the drive|         House|    Atlanta|           0.0|     Sheila Sammi|
|            Unknown|Detached House|   New York|      524393.0|      Jack Smith |
|            Unknown|Detached House|   New York|      210878.0|      Jack Smith |
|            Unknown|     Apartment|   New York|      380310.0|      Jack Smith |
|            Unknown|         House|Los Angeles|      154709.0|     Sheila Sammi|
|            Unknown|Detached House|Los Angeles|      548368.0|     Sheila Sammi|
|            Unknown|     Apartment|    Atlanta|           0.0|Penelope Pullman |
|            Unknown|         House|    Atlanta|       47108.0|Penelope Pullman |
|            Unknown|Detached House|   New York|      903820.0|Penelope Pullman |
|            Unknown|Detached House|    Atlanta|      557332.0|Penelope Pullman |
|            Unknown|     Apartment|   New York|      393327.0|Penelope Pullman |
|            Unknown|         House|   New York|           0.0|     Sheila Sammi|
|            Unknown|         House|   New York|      638266.0|     Sheila Sammi|
|            Unknown|         House|Los Angeles|      457664.0|      Jack Smith |
|            Unknown|         House|Los Angeles|      328871.0|     Sheila Sammi|
+-------------------+--------------+-----------+--------------+-----------------+

In [5]:
from pyspark.ml.feature import Imputer

# Initialize the Imputer
imputer = Imputer(
    inputCols= ['sale_price_usd'], #specifying the input column names
    outputCols=['sales_price_imputed_USD'], #specifying the output column names
    strategy="mean"                  # or "median" if you want to use the median value
)

# Fit the Imputer
model = imputer.fit(df_sales)

#Transform the dataset
imputed_df = model.transform(df_sales)

imputed_df.show()

StatementMeta(, 679771bb-05f6-4007-baa3-f8499b424766, 7, Finished, Available, Finished)

+-------------------+--------------+-----------+--------------+-----------------+-----------------------+
|            address|          type|       city|sale_price_usd|            agent|sales_price_imputed_USD|
+-------------------+--------------+-----------+--------------+-----------------+-----------------------+
|   1 Rowley Street |Detached House|   New York|      745000.0|Penelope Pullman |               745000.0|
|13a lollipop avenue|     Apartment|Los Angeles|      345000.0|      Jack Smith |               345000.0|
|       34 the drive|         House|    Atlanta|          NULL|     Sheila Sammi|      445360.4285714286|
|            Unknown|Detached House|   New York|      524393.0|      Jack Smith |               524393.0|
|            Unknown|Detached House|   New York|      210878.0|      Jack Smith |               210878.0|
|            Unknown|     Apartment|   New York|      380310.0|      Jack Smith |               380310.0|
|            Unknown|         House|Los Angeles|      154709.0|     Sheila Sammi|               154709.0|
|            Unknown|Detached House|Los Angeles|      548368.0|     Sheila Sammi|               548368.0|
|            Unknown|     Apartment|    Atlanta|          NULL|Penelope Pullman |      445360.4285714286|
|            Unknown|         House|    Atlanta|       47108.0|Penelope Pullman |                47108.0|
|            Unknown|Detached House|   New York|      903820.0|Penelope Pullman |               903820.0|
|            Unknown|Detached House|    Atlanta|      557332.0|Penelope Pullman |               557332.0|
|            Unknown|     Apartment|   New York|      393327.0|Penelope Pullman |               393327.0|
|            Unknown|         House|   New York|          NULL|     Sheila Sammi|      445360.4285714286|
|            Unknown|         House|   New York|      638266.0|     Sheila Sammi|               638266.0|
|            Unknown|         House|Los Angeles|      457664.0|      Jack Smith |               457664.0|
|            Unknown|         House|Los Angeles|      328871.0|     Sheila Sammi|               328871.0|
+-------------------+--------------+-----------+--------------+-----------------+-----------------------+

In [6]:
from pyspark.sql.functions import round

# Round the "Value" column to 2 decimal places
imputed_df = imputed_df.withColumn(
    "Rounded_Value_Double", 
    round(imputed_df["sales_price_imputed_USD"], 1)
)

imputed_df.show()
imputed_df.printSchema()

StatementMeta(, 679771bb-05f6-4007-baa3-f8499b424766, 8, Finished, Available, Finished)

+-------------------+--------------+-----------+--------------+-----------------+-----------------------+--------------------+
|            address|          type|       city|sale_price_usd|            agent|sales_price_imputed_USD|Rounded_Value_Double|
+-------------------+--------------+-----------+--------------+-----------------+-----------------------+--------------------+
|   1 Rowley Street |Detached House|   New York|      745000.0|Penelope Pullman |               745000.0|            745000.0|
|13a lollipop avenue|     Apartment|Los Angeles|      345000.0|      Jack Smith |               345000.0|            345000.0|
|       34 the drive|         House|    Atlanta|          NULL|     Sheila Sammi|      445360.4285714286|            445360.4|
|            Unknown|Detached House|   New York|      524393.0|      Jack Smith |               524393.0|            524393.0|
|            Unknown|Detached House|   New York|      210878.0|      Jack Smith |               210878.0|            210878.0|
|            Unknown|     Apartment|   New York|      380310.0|      Jack Smith |               380310.0|            380310.0|
|            Unknown|         House|Los Angeles|      154709.0|     Sheila Sammi|               154709.0|            154709.0|
|            Unknown|Detached House|Los Angeles|      548368.0|     Sheila Sammi|               548368.0|            548368.0|
|            Unknown|     Apartment|    Atlanta|          NULL|Penelope Pullman |      445360.4285714286|            445360.4|
|            Unknown|         House|    Atlanta|       47108.0|Penelope Pullman |                47108.0|             47108.0|
|            Unknown|Detached House|   New York|      903820.0|Penelope Pullman |               903820.0|            903820.0|
|            Unknown|Detached House|    Atlanta|      557332.0|Penelope Pullman |               557332.0|            557332.0|
|            Unknown|     Apartment|   New York|      393327.0|Penelope Pullman |               393327.0|            393327.0|
|            Unknown|         House|   New York|          NULL|     Sheila Sammi|      445360.4285714286|            445360.4|
|            Unknown|         House|   New York|      638266.0|     Sheila Sammi|               638266.0|            638266.0|
|            Unknown|         House|Los Angeles|      457664.0|      Jack Smith |               457664.0|            457664.0|
|            Unknown|         House|Los Angeles|      328871.0|     Sheila Sammi|               328871.0|            328871.0|
+-------------------+--------------+-----------+--------------+-----------------+-----------------------+--------------------+

root
 |-- address: string (nullable = false)
 |-- type: string (nullable = true)
 |-- city: string (nullable = true)
 |-- sale_price_usd: double (nullable = true)
 |-- agent: string (nullable = true)
 |-- sales_price_imputed_USD: double (nullable = true)
 |-- Rounded_Value_Double: double (nullable = true)